* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .board {
    box-sizing: content-box;

    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;

    border-radius: 2rem;
    border: 5px solid black;
    padding: 1rem;

    & > div {
      display: flex;
      flex-grow: 1;

      &:not(:last-child) > button {
        border-bottom: 5px solid black;
      }

      & > button {
        &:not(:last-child) {
          border-right: 5px solid black;
        }

        width: 200px;
        height: 200px;
        flex-grow: 1;
        font-size: 5rem;

        background: transparent;
        border: none;

        &[data-player="X"]::after {
          content: 'X';
        }
        &[data-player="O"]::after {
          content: 'O';
        }
      }
    }
  }
}